@font-face {
    font-family: "Lato Regular";
    src: url("./font/lato/Lato-Regular.ttf");
}

/* *
  header
* */
body{
    font-family: "Lato Regular";
}

.wrap-item-menu-admin{
    border:0px solid coral;
    width: 600px;
    position: relative;
    float:left;
    height:50px;
}
.wrap-item-menu-admin div.item{
    position:relative;
    float:left;
    font-size: 18px;
    border:0px solid white;
    top:13px;
    width:20%;
    text-align: center;
}


.wrap-item-menu-admin a{
    text-decoration: none;
    color:white;
    font-variant: small-caps;
}
.wrap-item-menu-admin div.item.active a,
.wrap-item-menu-admin a:hover{
    color:#ffa500;
}


.side-left{
    position:relative;
    float:left;
    width:280px;
    height:auto;
    border:0px solid #ffa500;
}
.wrap-block{
    position:relative;
    flaoat:left;
    width:100%;
    height:auto;
    border:1px solid #ffa500;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.wrap-block .title{
    position:relative;
    flaoat:left;
    width:100%;
    height:30px;
    background: #ffa500;
    /*opacity: 0.7;*/
    border-bottom:1px solid #ffa500;
    color:#000;
    line-height: 28px;
    padding-left:10px;
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    font-weight: bold;
    font-variant:small-caps;
}
.wrap-block .content{
    position:relative;
    flaoat:left;
    width:100%;
    height:auto;
    border:0px solid #ffa500;
    padding:10px;
}
.wrap-block .content ul{
    list-style: none;
    padding-left: 20px;
}
.wrap-block .content ul li{
    margin-bottom: 10px;
    font-variant:small-caps;
}
.wrap-block .content ul li a{
    color:#fff;
    text-decoration: none;
}

.side-right{
    position:relative;
    float:left;
    width:810px;
    height:auto;
    margin-left:10px;
    border:0px solid #ffa500;
}

.side-right .title a{
    color:white;
}
.side-right .title{
    position:relative;
    flaoat:left;
    width:100%;
    height:30px;
    border-bottom:1px solid #ffa500;
    line-height: 28px;
    text-align: right;
    margin-bottom: 10px;
    font-variant:small-caps;
}
.side-right .content{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    border-bottom:0px solid #ffa500;

}

.side-right form.disco{
    border:0px solid azure;
}
.side-right form.disco .info-form{
    text-align:center;
    color:#ffa500;
    margin-bottom: 10px;
}
.side-right form.disco .info-form ul{
    list-style: none;
}
.side-right form.disco .form-group{
    width:100%;
    position:relative;
    float:left;
}
.side-right form.disco .input-groupa{

}
.side-right form.disco .input-groupa .form-control{
    width:60%;
    position:relative;
    float:left;
}
.side-right form.disco .form-group.m-form-register{
    text-align: center;
}
.side-right form textarea{
    border:0px solid green;
    height: 200px;
}
.side-right form.disco .m-form-register button.btn{
    position: relative;
     margin:auto 0px;
    width:30%;
}
.side-right form.disco .m-label{
    position:relative;
    float:left;
    border:0px solid teal;
    width:25%;
    font-size:14px;
    line-height: 30px;
    height:30px;
    text-align: right;
    padding-right:10px;
}

.side-right .tab-list-users,
.side-right .tab-list-disco{
    margin-bottom: 10px;
    width:100%;
}
.side-right .tab-list-users thead,
.side-right .tab-list-disco thead{
    background: #ffa500;
    color:#000;
    font-weight: bold;
    font-variant:small-caps;
}
.side-right .tab-list-users thead tr,
.side-right .tab-list-disco thead tr{
    height: 30px;
}
.side-right .tab-list-users thead td,
.side-right .tab-list-disco thead td{
    border:1px solid #ffa500;
}
.side-right .tab-list-users tr.item,
.side-right .tab-list-disco tr.item{

}
.side-right .tab-list-users tr.item:hover,
.side-right .tab-list-disco tr.item:hover{
    opacity: 0.7;
}
.side-right .tab-list-users tr.item td,
.side-right .tab-list-disco tr.item td{
   padding:5px 0px;
}
.side-right .tab-list-users td,
.side-right .tab-list-disco td{
    border:1px solid #ffa500;
    text-align: center;
}
.side-right .tab-list-disco td.nom{
    width:200px;
}
.side-right .tab-list-disco td.addr{
    width:250px;
}
.side-right .tab-list-disco td.web{
    width: 100px;
}
.side-right .tab-list-users td.option,
.side-right .tab-list-disco td.option{
    width: 30px;
    text-align: center;
}
.side-right .tab-list-disco td.web a,
.side-right .tab-list-disco td.option a{color:#fff;}

.side-right .tab-list-users td.pseudo{width:150px;}
.side-right .tab-list-users td.mail{width:250px;}
.side-right .tab-list-users td.account{width:200px;}
.side-right .tab-list-users td.last-login{width:150px;}
.side-right .tab-list-users td.option{width:100px;}
.side-right .tab-list-users td.option a{color:white;}

.side-right .view-disco{}
.side-right .view-disco .view-top{
    border:0px solid red;
    position:relative;
    float:left;
    width:100%;
    height:350px;
    margin-bottom: 10px;
}
.side-right .view-disco .view-top .image-disco{
    position:relative;
    float:left;
    width:320px;
    height:340px
}
.side-right .view-disco .view-top .image-disco img{width: 100%;height:100%;}
.side-right .view-disco .view-top .image-disco-modif{
    position:relative;
    float:left;
    padding-left:10px;
}
.side-right .view-disco .view-top .image-disco-modif a{color:white;}
.side-right .view-disco .view-bottom{
    border-top:0px solid #ffa500;
    position:relative;
    float:left;
    width:100%;
}
.side-right .view-disco .view-bottom .row{
    margin-bottom:5px;
}
.side-right .view-disco .view-bottom .row .col-md-3{
    font-weight: bold;
}
.side-right .view-disco .view-bottom .row .col-md-9{}

.side-right form.whack_up_manage_edit_disco_image .form-group.m-maj{
    width:30%;
}
.side-right form.whack_up_manage_edit_disco_image .form-group.m-maj input{
    background: #ffa500;
    border: 1px solid #000;
}
.side-right form.whack_up_manage_edit_disco_image .info-form{
   margin-bottom:10px;
    color:#ffa500;
}

.wrap-advert{
  position:relative;
    float:left;
    width:100%;
    height:200px;
    margin-bottom: 20px;
    border-bottom:1px dotted #eeeeee;
}
.wrap-advert .wrap-side-left  {
    position:relative;
    float:left;
    width:40%;
    height:100%;
    border:0px solid gray;
}
.wrap-advert .wrap-side-left img{
   height:auto;
   width:auto;
    max-height:100%;
    max-width:100%;
}

.wrap-advert .wrap-side-left .bar-info-advert{
 position:absolute;
    bottom:0px;
    width:100%;
    left:0px;
    height:30px;
    border:0px solid green;
    font-size:12px;
    padding:5px 0px 5px 5px;
    background: #000;
    opacity: 0.8;
    text-align: center;
}
.wrap-advert .wrap-side-left .bar-info-advert .details{
    margin-right:5px;
}
.wrap-advert .wrap-side-left .bar-info-advert .details a{
    color:white;
}
.wrap-advert .wrap-side-left .bar-info-advert .details.m-hide{
    color:#ffa500;
}
.wrap-advert .wrap-side-left .bar-info-advert .details.m-show{
    color:green;
}
.wrap-advert .wrap-side-right{
    position:relative;
    float:left;
    width:60%;
    height:100%;
    border:0px solid gray;
    padding:0px 5px 5px 10px;
    /*overflow-y: scroll;*/
}
.wrap-advert .wrap-side-right > div{
    margin-bottom: 10px;
}

.wrap-advert .wrap-side-right div.titre{
    font-variant:small-caps;
}
.wrap-advert .wrap-side-right div.description{
    text-align: justify;
}
.wrap-advert .wrap-side-right div.created a{
    color:white;
}
.wrap-advert .wrap-side-right div.created{
    font-size:12px;
    font-style: italic;
}

.side-right .title .option{
    margin-right:15px;
}
.side-right .title .option a{
    margin-right: 10px;
}
.side-right .title .info{
    border-left:1px solid white;
    padding-left:10px;
}

.side-right .view-advert{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    border:0px solid red;
}
.side-right .view-advert .view-top{
    position:relative;
    float:left;
    width:100%;
    height:250px;
    border:0px solid orange;
}
.side-right .view-advert .view-top img{
    width:auto;
    heignt:auto;
    max-width:100%;
    max-height:250px;
}
.side-right .view-advert .view-bottom{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    border:0px solid chocolate;
    margin-top:15px;
}
.side-right .view-advert .view-bottom .titre{
    font-variant:small-caps;
}
.side-right .view-advert .view-bottom .description{
    margin-top:5px;
    margin-bottom:10px;
    text-align: justify;
}

.side-right .view-advert .view-bottom .statut a{
    color:white;
}
.side-right .view-advert .view-bottom .statut{
    margin-bottom:10px;
}
.side-right .view-advert .view-bottom .statut .m-show{
    color:green;
}
.side-right .view-advert .view-bottom .statut .m-hide{
    color:#ffa500;
}
.side-right .view-advert .view-bottom .deadline{
    margin-bottom:10px;
}
.side-right .view-advert .view-bottom .created{
    font-style: italic;
}
.side-right .view-advert .view-bottom .created a{
    color:white;
}
































