{# src/WhackUp/CoreBundle/Resources/views/Disco/favourite.html.twig #}



{% for i in 0..4 %}
    <div class="wrap-disco">
        <div class="mood-user like"></div>
        <div class="disco">
            <div class="disco-cover">
                <img src="{{asset('bundles/whackup/file/disco/Tof-6.jpg') }}" />
                <div class="wrap-cover-play">
                    <img src="{{asset('bundles/whackup/img/play.png') }}" />
                </div>
            </div>
            <div class="disco-info">
                <div class="title"> Lorem Ipsum</div>
                <div class="description">Quo cognito Constantius ultra mortalem modum...</div>
            </div>
        </div>
    </div>
{% endfor %}












