{# src/WhackUp/CoreBundle/Resources/views/Disco/slider.html.twig #}



<ul class="core-user bxslider">
    <li>
        <img src="{{asset('bundles/whackup/file/pub/eden.jpg') }}" />
        <div class="description">
            <h4>Eden</h4>
            Per hoc minui studium suum existimans Paulus, ut erat in conplicandis negotiis artifex dirus, unde ei Catenae inditum est cognomentum,
            vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. et instabat ut eum quoque cum
            <a href="" >Lien</a>
        </div>
    </li>
    <li>
        <img src="{{asset('bundles/whackup/file/pub/eden.jpg') }}" />
        <div class="description">
            <h4>BRIC A BRAC (LE) PARIS </h4>
            Per hoc minui studium suum existimans Paulus, ut erat in conplicandis negotiis artifex dirus, unde ei Catenae inditum est cognomentum,
            vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. et instabat ut eum quoque cum
            <a href="" >Lien</a>
        </div>
    </li>
</ul>












