{# src/WhackUp/CoreBundle/Resources/views/Disco/us.html.twig #}



<div class="wrap-us">
    <div class="left-us">
        <div class="wrap-info">
            <div class="title">Qui Sommes-nous ?</div>
            <div class="content">
                Whackup est une plateforme de diffusion en direct d&prime;animations de clubs.
                Plus qu&prime;une simple technologie de diffusion de contenu, Whackup c&prime;est aussi :
                Vos notations des clubs et discoth&egrave;ques favoris
                Un blog sp&eacute;cialis&eacute;, cr&eacute;ateur de tendance
                Le canal de la cr&eacute;ation et du d&eacute;veloppement de l&prime;image de marque des clubs
            </div>
            <div class="social-us">
                Suivez nous :
                <i class="fa fa-twitter" style="font-size:28px;color:#00ccff; margin-right:3px;"></i>
                <i class="fa fa-facebook-official" style="font-size:28px;color:blue;"></i>
            </div>
            <div class="copy-us">
                Copyright &copy; - 2016 Whack up
            </div>
        </div>

        <div class="wrap-info">
            <div class="title">Nos partenaires</div>
            <div class="content partenaire">
                <div class="wrap-partenaire">
                    <a href="" target="_blank" title="">
                        <img src="{{asset('bundles/whackup/file/partenaire/IMG_0694.JPG') }}" alt="" />
                    </a>
                </div>
                <div class="wrap-partenaire">
                    <a href="" target="_blank" title="">
                        <img src="{{asset('bundles/whackup/file/partenaire/logo_trimmed_belive4africa.png') }}" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="right-us">
        <img src="{{asset('bundles/whackup/img/us.png') }}" />
    </div>

</div>












